In [6]:
# DBへの接続テスト
from sqlalchemy import create_engine
import psycopg2
from urllib.parse import urlparse
import pandas as pd


def db_psql_connection():
    """
    コミット用の接続情報
    """
    url = 'postgresql+psycopg2://sakura0moti:music0@postgres_db/holomoti'
    # URLを解析
    parsed_url = urlparse(url)

    # 必要な情報を取得
    username = parsed_url.username
    password = parsed_url.password
    hostname = parsed_url.hostname
    db_name = parsed_url.path[1:]
    return psycopg2.connect(
        host=hostname, dbname=db_name, user=username, password=password
    )

def execute_df(query: str, param: dict | None = None):
    """
    クエリを実行してデータフレームを取得
    """
    if param is None:
        return pd.read_sql(sql=query, con=db_psql_connection())
    else:
        return pd.read_sql(sql=query, con=db_psql_connection(), params=param)


df = execute_df("select schemaname, tablename, tableowner from pg_tables;")
df

/tmp/ipykernel_27/4070352060.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql=query, con=db_psql_connection())

            schemaname                tablename   tableowner
0              twitter                    tweet  sakura0moti
1              twitter                  hashtag  sakura0moti
2              twitter                    media  sakura0moti
3              twitter                     user  sakura0moti
4           pg_catalog             pg_statistic  sakura0moti
..                 ...                      ...          ...
67          pg_catalog           pg_largeobject  sakura0moti
68  information_schema             sql_features  sakura0moti
69  information_schema  sql_implementation_info  sakura0moti
70  information_schema                sql_parts  sakura0moti
71  information_schema               sql_sizing  sakura0moti

[72 rows x 3 columns]

In [1]:
from src.route.service.module.utils import const
import pandas as pd
opt = const.Option()
path = opt.holo_names()
df = pd.read_csv(path)
df

        name     hashtag                                                url
0      ときのそら    #soraArt  https://hololive.hololivepro.com/wp-content/up...
1      ロボ子さん     #ロボ子Art  https://hololive.hololivepro.com/wp-content/up...
2      さくらみこ   #miko_Art  https://hololive.hololivepro.com/wp-content/up...
3     星街すいせい  #ほしまちぎゃらりー  https://hololive.hololivepro.com/wp-content/up...
4       AZki    #AZKiART  https://hololive.hololivepro.com/wp-content/up...
..       ...         ...                                                ...
81       水宮枢      #すくすく枢  https://hololive.hololivepro.com/wp-content/up...
82      輪堂千速     #もはやちはや  https://hololive.hololivepro.com/wp-content/up...
83  綺々羅々ヴィヴィ    #ヴィヴィメイク  https://hololive.hololivepro.com/wp-content/up...
84       友人A      #絵ーちゃん  https://hololive.hololivepro.com/wp-content/up...
85     春先のどか     #のどかあーと  https://hololive.hololivepro.com/wp-content/up...

[86 rows x 3 columns]

In [1]:
from src.route.service import twitter_service
twitter_service.twitter_scraping_test()